.rev-review-title {
	display: flex;
	vertical-align: top;
	min-width: 60%;
}

.rev-image-box {
	border: 2px solid orange;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin: auto;
	margin-right: 30px;
  overflow: hidden; /* cut image at border */
  display: block;
	float: left;
}

.rev-snack-image {
	width: 100%;
	height: 100%;
	object-fit: cover; /* fit into image-box */
}

.rev-snack-name-text {
	font-weight: bold;
}

.rev-grey-text {
	color: grey;
	margin: 0 5px;
}

.rev-rate-span {
	font-weight: bold;
	color: orange;
}

.rev-edit-text-area {
	width: 60%;
	max-height: 60%;
	margin-top: 10px;
	resize: none;
}

.rev-error-message {
	color: red;
}

.rev-hover-box {
	position: absolute;
  width: 20%;
  height: 20%;
  top: 0px;
  right: 0px;
  display: none;
  text-align: right;
  opacity: 0;
}

.rev-always-hover-box {
	position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  text-align: right;
  opacity: 1;
}

.rev-small-icon {
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  margin: 5px;
  cursor: pointer;
	flex: 2;
}

.rev-review-list {
	width: 100vw;
	height: 100vh;
	overflow: auto;
	margin: 0;
	padding: 0;
	list-style: none;
}

.rev-review-box {
  border: 2px solid darkgray; /* Add border to blocks */
  box-shadow: 3px 6px 3px 0px #b0b0b0;
  padding: 10px; /* Add padding for spacing */
  margin: auto;
  margin-bottom: 15px; /* Add margin between blocks */
  width: 500px;
  height: 160px;
  text-align: left;
  display: block;
  position: relative;
}

.rev-review-box:hover .rev-hover-box{
	position: absolute;
  width: 20%;
  height: 20%;
  display: block;
  text-align: right;
  opacity: 1;
}

.rev-overlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.rev-open-new-menu-button {
	background-color: green;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  padding: 0 3px 5px 3px;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transform: translateY(0px);
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9990;
}

.rev-close-new-menu-button {
	background-color: red;
  color: white;
  font-weight: bolder;
  font-size: 35px;
  padding: 0 3px 5px 3px;
  vertical-align: middle;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  transform: translateY(0px);
  z-index: 9995;
}

.rev-new-menu-modal {
	display: flex;
	flex-direction: column;
	align-items: end;
	border: none;
	box-sizing: border-box;
	background-color: transparent;
	position: fixed;
  bottom: 30px;
  right: 30px;
	z-index: 10000;
}

.rev-new-menu-item {
	background-color: white;
	border-radius: 5px;
	width: 80px;
	line-height: 32px;
	height: 32px;
	vertical-align: middle;
	align-items: center;
	display: flex;
	border: 1px solid black;
	padding: -5px;
	margin: 3px;
	z-index: 9999;
}

.rev-auto-margin-text {
	margin: auto;
	margin-left: 2px;
	display: inline;
	flex: 5;
}

.rev-invisible-link {
	/* hyperlink without changing color of text and underline */
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
	cursor: pointer;
}

.rev-invisible-link-wide {
	/* hyperlink without changing color of text and underline */
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
	width: 100%;
	cursor: pointer;
}

.rev-invisible-link:hover {
	color: black;
}

.rev-invisible-link-wide:hover {
	color: black;
}

.rev-backdrop {
	width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 9995;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
}