.snk-snack-list {
	width: 800px;
	height: 100vh;
	display: inline-grid;
	margin: auto;
	padding: 0;
	grid-template-columns: repeat(4, 200px);
	grid-auto-rows: 260px;
	grid-gap: 10px;
}

.snk-snack-block {
	border: 2px solid darkgray; /* Add border to blocks */
  box-shadow: 3px 6px 3px 0px #b0b0b0;
  padding: 10px; /* Add padding for spacing */
  margin: auto;
  margin-bottom: 15px; /* Add margin between blocks */
  width: 180px;
  height: 240px;
  text-align: center;
  display: flex;
	flex-direction: column;
  position: relative;
	align-items: center;
}

.snk-image-box {
  border: 2px solid orange;
  border-radius: 30px;
  width: 150px;
  height: 150px;
  margin: 10px;
  overflow: hidden; /* cut image at border */
  display: block;
  float: left;
}

.snk-snack-image {
	width: 100%;
  height: 100%;
  object-fit: cover; /* fit into image-box */
}

.snk-text-box {
  vertical-align: middle;
  text-align: center;
  margin-top: 5px;
}

.snk-invisible-link {
	/* hyperlink without changing color of text and underline */
  text-decoration: none;
  color: black;
  display: inline-flex;
  align-items: center;
  width: fit-content;
}

.snk-invisible-link:hover {
	color: black;
}

.snk-snack-name-text {
	font-weight: bold;
}

.snk-rate-span {
	font-weight: bold;
	color: orange;
}